/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
    DEBUG
----------- */

.debug .row{
    border: 2px dashed coral;
}
.debug .row > *{
    border: 2px dashed rgb(80, 141, 255);
}

/*----------------
    GRID LAYOUT
-----------------*/
.container{
    max-width: 1180px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-50{
    width: 50%;
}

.col-25{
    width: 25%;
}

.col-60{
    width: 60%;
    background-color: #418CF7;
}

.col-40{
    width: 40%;
    background-color: #F7C3CC;
}
/*------------
    HEADER
--------------*/

header{
    background-color: #B8D6E4;
    height: 80px;
    padding: 30px; 
}

header .container{
    background-color: #D3A747;
    display: flex;
}

.link-nav{
    text-align: center;
}

.btn{
    text-align: end;
}

/*---------
    HERO
-----------*/
.hero{
    background-color: #020084;
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

.hero .row{
    background-color: #E386E7;
    min-height: 400px;
    min-width: 900px;
    border-radius: 5px;
}

/*--------------------
    FIRST SECTION
----------------------*/

.first-section .container .row{
    min-height: 500px;
    display: flex;
}

.first-section .container{
    padding: 60px;
}

/*--------------------
    SECOND SECTION
----------------------*/
.second-section{
    background-color: #D3D3D3;
}

.second-section .container .row{
    min-height: 500px;
    display: flex;
}

.second-section .container{
    padding: 60px;
}

/*--------------------
    THIRD SECTION
----------------------*/

.third-section .container .row{
    min-height: 500px;
    display: flex;
}

.third-section .container{
    padding: 60px;
}

/*--------------------
    FOURTH SECTION
----------------------*/

.fourth-section{
    background-color: #D3D3D3;
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.fourth-section .row{
    background-color: #228B22;
    min-height: 900px;
    min-width: 900px;
    border-radius: 5px;
}

